{{#*inline "metadata"}}
    <title>Projects</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div id="projects">
        <h1>Contact</h1>

        <table id="contact-table">
            <tr>
                <td>Mail:</td>
                <td>
                    <a href="mailto:christofer.nolander@gmail.com">
                        <i class="icon fas fa-envelope"></i>christofer.nolander@gmail.com
                    </a>
                </td>
            </tr>

            <tr class="empty">
            </tr>

            <tr>
                <td>GitHub:</td>
                <td>
                    <a href="https://github.com/nolanderc">
                        <i class="icon fab fa-github"></i>nolanderc
                    </a>
                </td>
            </tr>

            <tr>
                <td>LinkedIn:</td>
                <td>
                    <a href="https://www.linkedin.com/in/nolander/">
                        <i class="icon fab fa-linkedin-in"></i>nolander
                    </a>
                </td>
            </tr>

    </div>
{{/inline}}

{{>base}}
