
<html>
    <head>
        <style>
            .project {
                border: 1px solid #ddd;
                border-radius: 5px;
                margin: 1em;
                padding: 1em;
                width: 100%;
                max-width: 20em;
                margin-left: auto;
                margin-right: auto;
            }

            .project > *:first-child {
                margin-top: 0;
            }

            .project > *:last-child {
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Projects</h1>
        {{#each data.projects}}
            <div class="project">
                <h3 style="display:inline;">{{title}}</h3>

                {{#if links.github}}
                    <a href="{{links.github}}">
                        <img src="GitHub-Light.svg" style="width:1em;" />
                    </a>
                {{/if}}

                {{#if links.website}}
                    <a href="{{links.website}}">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Globe_icon.svg/1024px-Globe_icon.svg.png" style="width:1em;" />
                    </a>
                {{/if}}

                <p>{{description}}</p>
            </div>
        {{/each}}
    </body>
</html>

