{{#*inline "metadata"}}
    <title>Source Code</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div id="source-code" class="content">
        <h1>Source Code</h1>

        <p>You can find the source code for this webpage here:</p>
        <a href="https://github.com/nolanderc/portfolio" class="fat-link">Open in GitHub</a>
    </div>
{{/inline}}

{{>base}}
