{{#*inline "metadata"}}
    <title>Christofer Nolander</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div id="welcome" class="content">
        <div class="thin-header">
            Hi, I'm Christofer,
        </div>
        <div class="sub-header">
            a self taught programmer, student and teacher of Computer Science.
        </div>

        <div class="welcome-link">
            <a href="/projects/#projects" class="fat-link">Portfolio</a>
        </div>
    </div>
{{/inline}}

{{>base}}
