{{#*inline "metadata"}}
    <title>Christofer Nolander</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div>
        <h1>Welcome to my website</h1>
        <a href="/projects/">Projects</a>
    </div>
{{/inline}}

{{>base}}
