
{{#*inline "project-link"}}
<a href="{{href}}{{target}}" class="profile-link {{#if (eq href path)}}current{{/if}}">{{text}}</a>
{{/inline}}

<div id="sidebar">
    <div id="profile">
        <a href="/" id="profile-area">
            <div id="profile-picture">
                <img src="/static/ferris.jpg">
            </div>

            <div id="profile-name">
                Christofer Nolander
            </div>

            <div id="profile-desc">
                Programming aficionado
            </div>
        </a>

        <div class="profile-links">
            {{>project-link href="/" target="#welcome" text="Home"}}
            {{>project-link href="/projects/" target="#projects" text="Projects"}}
            {{>project-link href="/source-code/" target="#source-code" text="Source Code"}}
            {{>project-link href="/contact/" target="#contact" text="Contact"}}
        </div>

        <div id="profile-contact">
            <div class="header-small">Get in touch</div>

            <div>
                <a href="mailto:christofer@nolander.me">
                    <i class="fas fa-envelope-square"></i>
                </a>
                <a href="https://github.com/nolanderc">
                    <i class="fab fa-github-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/nolander/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>

