
<div id="sidebar">
    <div id="profile">
        <div id="profile-picture">
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fprofile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-47075235.jpg&f=1&nofb=1">
        </div>

        <div id="profile-name">
            Christofer Nolander
        </div>

        <div id="profile-desc">
            Programming aficionado
        </div>

        <div id="profile-links">
            <a href="/projects/" class="profile-link">Projects</a>
        </div>

        <div id="profile-contact">
            Socials

            <br>
            <a href="mailto:christofer.nolander@gmail.com">Mail</a>
            <a href="https://github.com/nolanderc">GitHub</a>
            <a href="https://www.linkedin.com/in/nolander/">LinkedIn</a>
        </div>
    </div>
</div>

